body {
    background-color: #2fff9e;
}

hr {
    margin-top:50px;
    margin-bottom:50px;
    border-width:15px;
    border-style:none;
    border-top-style:dotted;
    width: 30%;
    border-color: #000000;
}

h1, h3, h2 {
    text-align:center;
}

ul, ol, img {
    display:block;
    max-width:500px;
    margin-top:0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}